@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  /* overflow-x: hidden; */
  /* font-family: century gothic; */
}

body {
  background: #1a1c29;
  font-family: century gothic, "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif, Times, serif, Arial, Helvetica, sans-serif;
  color: #fdfbfb;
  overflow-x: hidden;
  max-width: 100%;
    /* font-family: century gothic; */

  /* background-color: yellow; */


}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation {
  padding: 0 10px;
  max-width: 100%;
  height: 90px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  /* background-color: red; */
}
.checkBtn {
  display: none;
}
.navigation .logo {
  /* background-color: #4985c9; */
  position: relative;
  width: auto;
  margin-left: -180px;
  margin-top: 20px;
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.0em;
  font-weight :900 ; */

}

.navigation ol {
  list-style: none;
  margin: 0px;
  
}
.navigation ol a {
  text-decoration: none;
  color: whitesmoke;
  margin: 0.3em;
  padding: 0.5em 1.5em;
  border-radius: 10px;
}
.navigation ol a:hover {
  transition: background 0.6s;
  background-color: #f9813a;
}
.main {
  width: 85%;
  height: 650px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}
.main::before,
.main::after {
  content: "";
  width: 80%;
  height: 70%;
  background: #151618;
  position: absolute;
  bottom: 0;
  right: -7%;
  z-index: -10;
}
.main::after {
  background: #15161885;
  height: 65%;
  top: 20px;
  left: -40%;
  border-top: 1px solid #f9813a;
  border-right: 1px solid #4985c9;
  z-index: -11;
}
.box h1 {
  font-size: 4em;
  margin-bottom: 0.2em;
}
.box p {
  font-size: 1.2em;
  color: whitesmoke;
  margin-bottom: 1.2em;
}
.box a {
  font-family: century gothic;
}
.box .btn {
  font-family: century gothic;
  font-size: 1.2em;
  background: none;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  border: 1px solid #f9813a;
  width: 8em;
  height: 3em;
  transition: 0.2s;
}
.box .btn:hover {
  background-color: #f9813a;
}
.main img {
  width: 27em;
  position: absolute;
  right: 60px;
  top: 70px;
  z-index: -1;
}
.about {
  width: 100%;
  padding: 8em 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.about .box_wrap {
  margin: 2em 0;
}
.about .box_wrap .heading {
  font-size: 3em;
  margin-bottom: 0.5em;
  position: relative;
}
.about .box_wrap .heading::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 80px;
  height: 5px;
  background: #f9813a;
  z-index: -1;
}
.about .box_wrap .text,
.about .box_wrap i {
  color: beige;
}
.about .box_wrap i:hover {
  cursor: pointer;
  color: rgb(58, 88, 117);
}
.about .box_wrap {
  width: 35%;
}
.skills_box i {
  margin-right: 00.7em;
  margin-bottom: 0.5em;
  color: #f9813a;
}

.education {
  width: 100%;
  background: #151618;
  padding: 5em 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.education .left_box {
  width: 29%;
}
.education .left_box .container {
  margin: 1.5em 0;
}
.education .heading {
  font-size: 3em;
}
.education :is(h3, small, p) {
  margin: 0.5em 0;
}
.left_box .container {
  position: relative;
}
.left_box .container::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 100%;
  background: #f9813a;
  left: -20px;
}
.education :is(small, p) {
  color: rgb(201, 218, 233);
}
.education .right_box {
  width: 40%;
}
.education .right_box img {
  width: 120%;
}

/* experience*/
.experience {
  width: 100%;
  padding: 5em 0;
  flex-direction: column;
}
.experience h3 {
  font-size: 3em;
}
.experience ul {
  list-style: none;
}
.experience ul li {
  margin: 3em 0;
  font-size: 1.5em;
  padding: 0.5em 1em;
  background: #2b2d334f;
  cursor: pointer;
  position: relative;
}
.experience ul li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 100%;
  background: #f9813a;
  top: 0;
  left: -20px;
  transform: translateY(8px);
  transition: transform 0.4s;
}
.experience ul li:hover::before {
  transform: translateY(0);
}
.experience ul li :is(small, p) {
  margin: 0.4em 0;
}

/*Socialmedia*/
.containerf {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 250px;
  width: auto;
  background: white;
}
.containerf p {
  font-family: century gothic;
  font-weight: 550; 
  position: relative;
  color: #151618;
  font-size: 1.1rem;
  left: -320px;
  top: -50px;
  opacity: 85%;
}
.containerf .icons {
  left: 330px;
  top: -50px;
  margin: 1.2em;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 10;
}
.containerf .icons a {
  padding: 0.6em 0.7em;
  color: rgb(44, 44, 44);
  backdrop-filter: blur(15px);
  border-radius: 50px;
  border: 2px solid white;
  transition: color 0.4s;
}
.containerf .icons a:hover {
  color: rgba(255, 255, 255);
}
.containerf .icons::before,
.containerf .icons::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 120%;
  height: 120%;
  background: #f9813a;
  z-index: -1;
  transition: clip-path 0.4s;
}
.containerf .icons::after {
  top: 5px;
  left: 5px;
  background: #e9a781;
}
.containerf .icons::before {
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}
.containerf .icons:hover::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  border-radius: 0 0 50px 0;
}
.containerf .icons::after {
  clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);
}
.containerf .icons:hover::after {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  border-radius: 50px 0 0 0;
}

/*projects*/
.projects {
  width: 100%;
  padding: 5em 0;
  background: #151618;
  flex-direction: column;
  /* height: 100%; */
}

.projects h3 {
  font-size: 3em;
}
.projects .container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.projects .container .wrapper {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto); */
  width: 100vw;
  margin-left: 5px;
  min-height: 400px;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 2;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  grid-template-areas:
    "a a a"
    "b c c"
    "b c c";
  /* background-color: #2f80ed; */

}
  .projects .container .wrapper .categorie{
    position: relative;
    overflow-x: hidden;
    /* border-top: 2px solid #25272e4f;
    border-left: 2px solid #25272e4f; */
    border: 2px solid #25272e4f;
    cursor: pointer;
    margin: 20px;
    width: 400px;
    min-height: 220px;
    cursor: pointer;
    height: 570px;
    background-color: none;
    /* background-color: #2b2d334f; */
    /* color: $color1; */
    transition: all 0.7s ease;
    z-index: 1;
    box-sizing: border-box;
    padding: 30px;
    /* box-shadow: 0px 7px 50px #25272c4f; */
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    border-radius: 20px 0px;
    transition: all 0.6s;

  }
  .projects .container .wrapper .categorie:hover{
    border: 2px solid #f9803ae1;
  }
  .projects .container .wrapper .categorie .imageContainer{
    /* top: -90px;
    text-align: center;
    position:relative;
    width: 300px;
    height: 30 0px;
   */
    top: -100px;
    width: 450px;
    height: 300px;
    background-color: #4985c9;
    position: relative;
    background-image: url(logo-mini.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50%;
    background-position-x: center;
    background-position-y: center;
    /* border-radius: 23px; */
    border-radius: 30% 70% 70% 30% / 45% 38% 62% 55% ;
  }
  .projects .container .wrapper .categorie h2{
    position: absolute;
    font-size: 2.2rem;
    top: 370px;
    text-align: center;
    margin: auto;
    width: 100%;
    
  }
  .projects .container .wrapper .categorie h3{
    position: absolute;
    font-size: 0.9rem;
    top: 430px;
    text-align: center;
    margin: auto;
    width: 100%;
    font-weight: 50;
    opacity: 80%;
    margin: 0 -20px  ;
    /* padding-left: 10px; */
    
  }
  .projects .container .wrapper .categorie .btn{
    font-family: century gothic;
    text-decoration: none;
    border: none;
    background-color: #242f3d;
    position: absolute;
    width: 190px;
    top: 500px;
    border-radius: 30px;
    height: 36px;color: #fdfbfb;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.4s;
  }

  .projects .container .wrapper .categorie .btn::before{
    content: "\f0a9";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    background: #f9803ae1;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    clip-path: circle(0% at 50% 50%);
    transition: clip-path .4s;
  }
  .projects .container .wrapper .categorie .btn:hover::before{
   clip-path: circle(70% at 50% 50%);
  }

.projects .container a {
  text-decoration: none;
  color: white;
  margin: 2em 0.8em 0 0;
  position: relative;
}
.projects .container a::before {
  content: "\f0a9";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  background: #f9803ae1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  clip-path: circle(0% at 50% 50%);
  transition: clip-path .3s;
}
.projects .container a:hover::before {
  clip-path: circle(70% at 50% 50%);
}
.projects .container a div {
  padding: 2em;
  background: rgba(255, 2555, 255, 0.034);
}
/*Contact*/
.contact {
  width: 40%;
  margin: auto;
  /* margin-left: 500px; */
  padding: 5em 0;
  flex-direction: column;
}
.contact h3 {
  text-align: center;
  font-size: 3em;
}
.contact form {
  flex-direction: column;
  min-width: 30%;
}
.contact form :is(input, textarea, button) {
  font-family: century gothic;
  margin: 0.8em;
  width: 100%;
  height: 45px;
  background: #151618;
  color: white;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 0.2em 1em;
}
.contact form textarea {
  resize: none;
  height: 80px;
}
.contact form button {
  background: #f9813a;
  cursor: pointer;
  height: 40px;
  font-size: 1em;
}
@media (max-width: 1250px) {
  body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    max-width: 100%;
    /* background-color: red; */
  }
  .main img {
    width: 25em;
    right: 0;
  }
  .main img {
    width: 35em;
    top: 80px;
  }
  .main {
    align-items: flex-end;
  }
  .checkBtn {
    display: inline;
    width: 25px;
    width: 25px;
    cursor: pointer;
    position: relative;
    appearance: none;
  }
  .checkBtn::before {
    content: "\f0c9";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: 1.8em;
    color: #ffffff;
  }
  .checkBtn:checked::before {
    content: "\f00d";
  }
  .navigation ol {
    position: absolute;
    flex-direction: column;
    background: #1a1c29;
    width: 100%;
    top: 80px;
    left: 0;
    z-index: 100;
    padding: 1.2em;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: lip-path 0.4s;
  }
  .checkBtn:checked ~ ol {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .navigation ol::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #f9813a;
  }
  .projects .container .wrapper{
    display: grid;
    width: 100vw;
 
    margin-left: 5px;
    min-height: 400px;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 2;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas:
      "a a "
      "b c "
      "b c ";
  }

  .projects .container .wrapper .categorie{
    position: relative;
    /* border-top: 2px solid #25272e4f;
    border-left: 2px solid #25272e4f; */
    border: 2px solid #25272e4f;
    cursor: pointer;
    margin: 20px;
    width: 400px;
    min-height: 120px;
    cursor: pointer;
    height: 570px;
    background-color: none;
    /* background-color: #2b2d334f; */
    /* color: $color1; */
    transition: all 0.7s ease;
    z-index: 1;
    box-sizing: border-box;
    padding: 30px;
    /* box-shadow: 0px 7px 50px #25272c4f; */
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    border-radius: 20px 0px;
    transition: all 0.6s;

  }
}
@media (max-width: 900px) {
  .main img {
    width: 30em;
  }
  .contact {
    width: 75%;
    margin: auto;
    /* margin-left: 500px; */
    padding: 5em 0;
    flex-direction: column;
  }
  .about .box_wrap,
  .education .left_box.education .right_box {
    width: 60%;
  }
    .containerf p {
    left: 0;
    font-size: 1rem;
    /* color: #e9a781; */
    z-index: 20;
  }
  .containerf .icons {
    width: 30px;
    height: 30px;
    position: relative;
    left: 20px;
    z-index: 20;
    margin: 1.1rem;
  }
  /* .containerf p {
    color: #e9a781;
    z-index: 20;
  } */
  .projects .container .wrapper{
    display: grid;
    width: 100vw;
 
    margin-left: 5px;
    min-height: 400px;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 2;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas:
      "a  "
      "b  "
      "b  ";
  }

  .projects .container .wrapper .categorie{
    position: relative;
    /* border-top: 2px solid #25272e4f;
    border-left: 2px solid #25272e4f; */
    border: 2px solid #25272e4f;
    cursor: pointer;
    margin: 20px;
    width: 400px;
    min-height: 120px;
    cursor: pointer;
    height: 570px;
    background-color: none;
    /* background-color: #2b2d334f; */
    /* color: $color1; */
    transition: all 0.7s ease;
    z-index: 1;
    box-sizing: border-box;
    padding: 30px;
    /* box-shadow: 0px 7px 50px #25272c4f; */
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    border-radius: 20px 0px;
    transition: all 0.6s;

  }
}
@media (max-width: 600px) {
  .main img {
    width: 22em;
  }
  .contact {
    width: 95%;
    margin: auto;
    /* margin-left: 500px; */
    padding: 5em 0;
    flex-direction: column;
  }
  .containerf p {
    left: 0;
    font-size: 0.9rem;
    /* color: #e9a781; */
    z-index: 20;
  }
  .containerf .icons {
    width: 30px;
    height: 30px;
    position: relative;
    left: 15px;
    z-index: 20;
    margin: 1rem;
  }
  .navigation .logo{
    position: relative;
    margin-left: -140px;
    /* left: -140px; */
    width: 100%;
  }
  .projects .container .wrapper{
    display: grid;
    width: 100%;
    /* background-color: #4985c9; */
 
    margin-left: 5px;
    min-height: 400px;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 2;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas:
      "a  "
      "b  "
      "b  ";
  }

  .projects .container .wrapper .categorie{
    position: relative;
    /* border-top: 2px solid #25272e4f;
    border-left: 2px solid #25272e4f; */
    border: 2px solid #25272e4f;
    cursor: pointer;
    margin: 20px;
    width: 400px;
    min-height: 120px;
    cursor: pointer;
    height: 570px;
    background-color: none;
    /* background-color: #2b2d334f; */
    /* color: $color1; */
    transition: all 0.7s ease;
    z-index: 1;
    box-sizing: border-box;
    padding: 30px;
    /* box-shadow: 0px 7px 50px #25272c4f; */
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    border-radius: 20px 0px;
    transition: all 0.6s;

  }
  
}
/* @media (max-width: 500px) {
  .main img {
    width: 22em;
  }
  
} */
@media (max-width: 400px) {
  .contact {
    width: 95%;
    margin: auto;
    /* margin-left: 500px; */
    padding: 5em 0;
    flex-direction: column;
  }
  .main img {
    width: 22em;

  }
  .box{
    /* background-color: #e9a781; */
    margin-top: 530px;
    
  }
  .main {
    width: 85%;
    height: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 70px;
    /* background-color: yellow; */
  }
  .main::before,
  .main::after {
    content: "";
    width: 80%;
    height: 70%;
    background: #151618;
    position: absolute;
    bottom: -30%;

    right: 0%;
    z-index: -10;
  }
  .main {
    height: 450px;
    width: 22em;
  }

  .checkBtn {
    display: inline;
    width: 25px;
    width: 25px;
    cursor: pointer;
    position: relative;
    appearance: none;
  }
  .checkBtn::before {
    content: "\f0c9";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: 1.8em;
    color: #ffffff;
  }
  .checkBtn:checked::before {
    content: "\f00d";
  }
  .containerf p {
    left: 0;
    font-size: 1.2rem;
    /* color: #e9a781; */
    margin: auto;
    right: 0;
    z-index: 20;
  }
  .containerf .icons {
    visibility: hidden;
    width: 30px;
    height: 30px;
    position: relative;
    left: 20px;
    z-index: 20;
    margin: 0.5rem;
  }

  .navigation .logo{
    position: relative;
    margin-left: -120px;
    width: 100%;
  }

  .projects{
    width: 100%;
    padding: 10px;
  }
  .projects h3{
    font-size: 2rem;
  }
  .projects .container{
    width: 100%;
  }
  .projects .container .wrapper{
    display: grid;
    width: 100vw;
    /* background-color: #4985c9; */

    margin-left: 5px;
    min-height: 400px;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 2;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas:
      "a  "
      "b  "
      "b  ";
  }

  .projects .container .wrapper .categorie{
    position: relative;
    /* border-top: 2px solid #25272e4f;
    border-left: 2px solid #25272e4f; */
    border: 2px solid #25272e4f;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    min-height: 120px;
    cursor: pointer;
    height: 570px;
    background-color: none;
    /* background-color: #2b2d334f; */
    /* color: $color1; */
    transition: all 0.7s ease;
    z-index: 1;
    box-sizing: border-box;
    padding: 30px;
    /* box-shadow: 0px 7px 50px #25272c4f; */
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    border-radius: 20px 0px;
    transition: all 0.6s;

  }

}
